//For sections that are peculiar to a page

////////////////////////////
// SECTION ABOUT //
////////////////////////////

.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem;

  // 100vh - 95vh = 5vh
  // 95vh - 75h = 20vh
  margin-top: -20vh;
}

////////////////////////////
// SECTION FEATURES //
////////////////////////////

.section-features {
  padding: 20rem 0;
  margin-top: -10rem;
  background-image: linear-gradient(
  to right bottom,
  rgba($color-primary-light, 0.8),
  rgba($color-primary-dark, 0.8)
  ),
  url("../img/nat-4.jpg");
  background-size: cover;
  background-position: top;
  
  ///////This is another way to make this section look like the heading////
  // height: 95vh;
  // clip-path: polygon(0 25vh, 100% 0, 100% 75vh, 0 100%);
  transform: skewY(-7deg);

  & > * {
    transform: skewY(7deg);
  }
}

.section-tours {
  margin-top: -10rem;
  background-color: $color-grey-light-1;
  padding: 25rem 0 15rem 0;
}